@import "../variables.scss";
@import "../mixin.scss";

.toast-wrapper {
  .display-block {
    display: block;
  }
  .display-none {
    display: none;
  }
  .center-toast {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 60vh;
    @include center-column;
    .toast {
      background-color: $color;
      border-radius: 8px;
      padding: 1rem;
      @include center-column;
      gap: 1rem;
      box-shadow: 5px 5px 5px darkgray;
      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
