@import "../../variables.scss";
@import "../../mixin.scss";

.header-wrapper {
  border: 3px double$color;
  outline-offset: 3px;
  outline: 3px double $comp-color;
  background-color: $light-text;
  color: $color;
  padding: 1rem;
  margin: 1rem 2.5rem;
  border-radius: 10px;
}

.header-headline {
  font-size: 2rem;
  text-align: center;
}
