@import "../../variables.scss";
@import "../../mixin.scss";

.header-wrapper {
  border: 3px solid $comp-color;
  outline-offset: 5px;
  outline: 3px solid $color;
  background-color: $light-text;
  color: $color;
  padding: 1rem;
  margin: 0 2rem;
  border-radius: 10px;
}

.header-headline {
  font-size: 3rem;
  text-align: center;
}
