@import "../../variables.scss";
@import "../../mixin.scss";

.footer-wrapper {
  position: fixed;

  bottom: 0;
  @include f-row;
  justify-content: space-around;
  width: 100%;
  background-color: $color;
}
